{% extends 'restaurant/base.html' %}

{% block content %}

    <div class="container">
        <div class="row justify-content-center mt-3">
            <div class="card col-md-5 mr-3">
                <h4 class="text-center pt-2">Today's Total Revenue</h4>
                <h1 class="text-center" style="color: dodgerblue;">${{ total_revenue }}</h1>
            </div>
        
    

            <div class="card col-md-5 mr-3">
                <h4 class="text-center pt-2">Today's Total Orders</h4>
                <h1 class="text-center" style="color:#ad0003">${{ total_orders }}</h1>
            </div>
        </div>
    </div>



{% endblock%}