{% extends 'customer/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1>About Us</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique dolores ratione harum sit magni unde nostrum quo illo, iste repellat in deserunt, repudiandae totam optio suscipit laboriosam quibusdam, dolorem laborum!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia totam obcaecati eum nulla explicabo. Quidem voluptatibus, at eveniet, possimus, itaque repellat cumque repellendus ut labore culpa rerum hic deserunt alias!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis rerum dolorem id, explicabo nesciunt asperiores! Aliquam quasi eos non laborum magni cumque sunt exercitationem? Ex, voluptas! Labore magnam expedita nihil!</p>

        </div>
    </div>
</div>

{% endblock %}