
{% extends 'customer/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-1">
        <div class="col-md-12 col-sm-12 p-4">
            <form method="POST">
                {% csrf_token %}
                <div class="pt-5">
                    {% for app in appetizers %}
                    <div class="row">
                        <div class="col-md-2 col-sm-12">
                            <img class="rounded" src="{{ app.image.url }}" width="150" height="100"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ app.pk }}">
                                    <label class="form-check-label">{{ app.name }}</label>
                                </div>
                                <p class="font-weight-bold pl-5">{{ app.price }}</p>
                            </div>
                            <p>{{ app.description }}</p>
                        </div>
                    </div>
                    <hr />
                {% endfor %}
                </div>

                

                <div class="pt-5">
                    {% for pizza in pizzas %}
                    <div class="row mt-4">
                        <div class="col-md-2 col-sm-12">
                            <img class="rounded" src="{{ pizza.image.url }}" width="150" height="100"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ pizza.pk }}">
                                    <label class="form-check-label">{{ pizza.name }}</label>
                                </div>
                                <p class="font-weight-bold pl-5">{{ pizza.price }}</p>
                            </div>
                            <p>{{ pizza.description }}</p>
                        </div> 
                    </div>
                    <hr />
                    {% endfor %}
                </div>

                <div class="pt-5">
                    {% for dessert in desserts %}
                    <div class="row mt-4">
                        <div class="col-md-2 col-sm-12">
                            <img class="rounded" src="{{ dessert.image.url }}" width="150" height="100"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ dessert.pk }}">
                                    <label class="form-check-label">{{ dessert.name }}</label>
                                </div>
                                <p class="font-weight-bold pl-5">{{ dessert.price }}</p>
                            </div>
                            <p>{{ dessert.description }}</p>
                        </div>
                    </div>
                    <hr />
                    {% endfor %}
                </div>

                <div class="pt-5">
                    {% for drink in drinks %}
                    <div class="row mt-4">
                        <div class="col-md-2 col-sm-12">
                            <img class="rounded" src="{{ drink.image.url }}" width="150" height="100"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ drink.pk }}">
                                    <label class="form-check-label">{{ drink.name }}</label>
                                </div>
                                <p class="font-weight-bold pl-5">{{ drink.price }}</p>
                            </div>
                            <p>{{ drink.description }}</p>
                        </div>
                    </div>
                    <hr />
                    {% endfor %}
                </div>

                <div class="form-group pt-3">
                    <label for="name">Full Name</label>
                    <input required  class="form-control"  placeholder="Your Name" name="name" type="text">

                </div>

                <div class="form-group pt-3">
                    <label for="name">Email Address</label>
                    <input required  class="form-control"  placeholder="example@mail.com" name="email" type="text">

                </div>

                <div class="form-group pt-3">
                    <label for="name">Street Address</label>
                    <input required  class="form-control"  placeholder="123 North ave " name="street" type="text">

                </div>

                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <div class="form-group pt-3">
                            <label for="name">County</label>
                            <input required  class="form-control"  placeholder="Nairobi" name="county" type="text">
        
                        </div>
                        </div>

                        <div class="col-md-4 col-sm-12">
        
                            <div class="form-group pt-3">
                                <label for="name">Town</label>
                                <input required  class="form-control"  placeholder="Nairobi" name="town" type="text">
            
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-12">
        
                            <div class="form-group pt-3">
                                <label for="name">Zip Code</label>
                                <input required  class="form-control"  placeholder="047" name="zip_code" type="text">
            
                            </div>
                        </div>
        

                    
                </div>
                

                <div class=" pt-3">
                    
                    <button type="button" class="btn btn-dark"  data-toggle="modal"  data-target="#submitModal" >Submit Order!</button>
                </div>    


                <!-- Modal -->
               
                    <div class="modal fade" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="submitModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="submitModalLabel">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                            ...
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                        </div>
                    </div>



            </form>
        </div>
    </div>
</div>
{% endblock %}